@media (max-width: 321px){
	.pagination{
		margin-left: 1.2em;
	}
}


@media (min-width: 324px) and (max-width: 426px){
	.pagination{
		margin-left: 40px;
	}

}

@media (min-width: 767px) and (max-width: 1442px){
	.pagination{
		margin-left: 50px;
	}

}