{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
		"add-module-exports",
		"transform-es2015-modules-commonjs",
		"transform-es2015-classes",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
